.footer {
  background-color: #f7f7f7;
  &__row {
    display: flex;
    align-items: center;
    padding: 100px 0;
  }

  &__column {
    flex: 0 1 33.333%;
  }

  &__address {
    font-size: 14px;
    color: rgb(132, 135, 137);
    line-height: 18px;
    p {
      &:first-child {
        font-weight: 700;
      }
    }
  }

  &__social {
    display: flex;
    justify-content: center;
    align-items: center;
    li {
      margin: 0 7.5px;
    }
  }

  &__dev {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &__text {
    font-size: 14px;
    color: rgb(132, 135, 137);
    font-style: italic;
    line-height: 1.286;
    text-align: right;
    padding-right: 9px;
  }

  @media (max-width: 1100px) {
    &__row {
      padding: 50px 0;
    }
  }

  @media (max-width: 600px) {
    &__row {
      padding: 30px 0;
      flex-direction: column;
      text-align: center;
    }
    &__social {
      margin: 10px 0;
    }
  }
}
